.sidebar {
    padding: 42px 46px;
    width: 25%;
    position: relative;
    overflow-y: hidden;

    @include respond(tab-land) {
        padding: 15px;
    }

    @include respond(tab-port) {
        width: 35%;
    }

    @include respond(phone) {
        width: 100%;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__searchBtn {
        font-family: Raleway;
        font-weight: 500;
        font-size: 16px;
        color: #e7e7eb;
        padding: 10px 18px;
        background: #6e707a;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        cursor: pointer;
        outline: none;
    }

    &__setMyLocation {
        border: none;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    .weatherNow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 52px;
        text-align: center;
        position: relative;

        @include respond(tab-land) {
            justify-content: initial;
        }

        @include respond(phone) {
            min-height: 80vh;
        }

        &__icon {
            @include respond(tab-land) {
                width: 60%;
                margin: 30px auto;
            }

            img {
                @include respond(tab-land) {
                    width: 100%;
                }
            }
        }

        &__temperature {
            font-family: Raleway;
            font-weight: 500;
            font-size: 144px;
            color: #e7e7eb;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond(tab-land) {
                font-size: 100px;
                margin-bottom: 30px;
            }

            span {
                color: #a09fb1;
                font-size: 40px;

                @include respond(tab-land) {
                    font-size: 30px;
                }
            }
        }

        &__status {
            font-family: Raleway;
            font-weight: 600;
            font-size: 36px;
            line-height: 42px;
            color: #a09fb1;

            @include respond(tab-land) {
                font-size: 30px;
                margin-bottom: 30px;
            }
        }

        &__date {
            font-family: Raleway;
            font-weight: 500;
            font-size: 18px;
            color: #88869d;

            @include respond(tab-land) {
                margin-bottom: 30px;
            }
        }

        &-location {
            display: flex;
            justify-content: center;

            &__name {
                font-family: Raleway;
                font-weight: 600;
                font-size: 18px;
                color: #88869d;
                margin-left: 10px;
            }
        }
    }
}
